[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = https://github.com/mukhery/hugo-future-imperfect.git
[submodule "public"]
	path = public
	url = https://github.com/mukhery/mukhery.github.io.git
